@media (max-width: 768px) {
    .hero .hero-text {
        padding: 40px;
        padding-bottom: 4px;
    }

    h1 {
        font-size: 2.3rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    p {
        font-size: 0.9rem;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        width: 100%;
        padding: 20px;
    }

    .hero-figure {
        width: 100%;
        margin: 10px 0;
    }

    .hero-img {
        max-width: 100%;
        height: auto;
    }

    /*-----card servicio----*/
    .servicios-card,
    .servicios-card-reverse {
        flex-direction: column;
        text-align: center;

        figure {
            max-width: 100%;
        }
    }

    .contenedor-text {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    /*-----contacto----*/
    .contenedor-contact {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr, 1fr;
        gap: 10px;

        .contenedor-text-contacto {
            grid-column: 1/3;
            grid-row: 1;
            text-align: center;
        }

        .contenedor-form {
            grid-row: 2;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 80%;
        }

        .iframe {
            grid-row: 2;
            display: flex;
            justify-content: center;
        }
    }
}