@media (max-width: 500px) {
    .contenedor-text {
        width: 90%;
    }

    .footer-publicidades {
        flex-wrap: wrap;
        gap: map-get($espaciado, general);
    }

    .footer-publicidades-redes {
        flex-wrap: wrap;
        gap: map-get($espaciado, general);
    }

    /*-----card servicios-----*/
    .servicios-card,
    .servicios-card-reverse {
        flex-direction: column;

        figure {
            flex: 1;
            max-width: 100%;

            img {
                width: 100%;
            }
        }

        div {
            max-width: 100%;
        }
    }
}