@media (max-width: 970px) {
    .boton {
        padding: .5rem .625rem;
        font-size: .875rem;
    }

    %contacto-comun {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        grid-template-areas:
            "texto texto"
            "formulario iframe"
            "mapa mapa";

        .contenedor-form {
            grid-area: formulario;
        }

        .iframe {
            grid-area: iframe;
        }

        .contenedor-text-contacto {
            grid-area: texto;
        }
    }
}