@media (max-width: 320px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.3rem;
    }

    .hero-text {
        padding: .625rem;
        font-size: .875rem;
    }

    .hero-figure {
        margin: .3125rem 0;
    }

    .hero-img {
        max-width: 100%;
    }
}