@media (max-width: 698px) {

    %contacto-comun {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "texto"
            "formulario"
            "mapa";

        .contenedor-text-contacto {
            grid-area: texto;
        }

        .contenedor-form {
            grid-area: formulario;
        }

        .iframe {
            grid-area: mapa;

        }
    }
}