@media (max-width: 970px) {
    .boton {
        padding: .5rem .625rem;
        font-size: .875rem;
    }


        .contenedor-contact {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr, 1fr;
            gap: 10px;
    
            .contenedor-text-contacto {
                grid-column: 1/3;
                grid-row: 1;
                text-align: center;
            }
    
            .contenedor-form {
                grid-row: 2;
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 80%;
            }
    
            .iframe {
                grid-row: 2;
                display: flex;
                justify-content: center;
            }
        }
    }
