@media (max-width: 425px) {
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.8rem;
  }

  .galeria-contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* overflow: hidden; */
    padding: 20px;
}

}