@media (max-width: 320px) {
    
    h1 {
        font-size: 2rem;
      }
      
      h2 {
        font-size: 1.3rem;
      }
      

    
      .hero-tex{
        padding-bottom: 0;
      }
    
    .hero-text {
        padding: 10px;
        font-size: 14px;
    }

    .hero-figure {
        margin: 5px 0;
    }

    .hero-img {
        max-width: 100%;
    }
    
}