/*---contacto---*/

.contenedor-contact {
    @extend %contacto-comun;
    background: linear-gradient(to right, #f9f9f9, #f0e6e2);
    padding: map-get($espaciado, general);
    border-radius: map-get($borders, radio);
    font-family: map-get($fuentes, principal);
    color: map-get($colores, texto-parrafos);
    line-height: 1.6;

    .contenedor-text-contacto {
        text-align: center;
        width: 100%;
        color: map-get($colores, texto-secundario);
        font-size: 1.25rem;
        margin-bottom: map-get($espaciado, general);

        .telefono, .email {
            display: block;
            margin-top: map-get($espaciado, pequeño);
            font-weight: bold;
        }
    }

    .iframe {
        width: 100%;
        text-align: center;
        margin: map-get($espaciado, pequeño) 0; // Espaciado alrededor del iframe
        iframe {
            width: 80%;
            height: 300px; // Ajusta según sea necesario
            border: none;
            border-radius: map-get($borders, radio);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    }

    .contenedor-form {
        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
            padding: map-get($espaciado, general);
            border: 1px solid map-get($colores, texto-principal);
            border-radius: map-get($borders, radio);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            background-color: map-get($colores, fondo-principal);
            
            input, textarea, select {
                margin-bottom: map-get($espaciado, pequeño);
                padding: 0.75rem;
                border-radius: map-get($borders, radio);
                border: 1px solid map-get($colores, texto-principal);
                font-family: map-get($fuentes, secundaria);
            }

            select{
                background-color: map-get($colores, boton);
                color: white;
                border: none;
                cursor: pointer;
                transition: background-color map-get($transiciones, general);
            }

            select:hover {
                background-color: map-get($colores, boton);
            }
        }
    }
}



