


/*----cursos galeria----*/

.galeria-contenedor {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
    .galeria-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
        .galeria-figure {
            margin: 0;
            border-radius: 8px;
            overflow: hidden;
            transition: transform 0.3s ease;
            &:hover {
                transform: scale(1.02);
            }
            img{
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
}
