/* Footer general */
.footer {
    background-color: map-get($colores, fondo-footer);
    padding-top: map-get($espaciado, general);
    text-align: center;
    box-shadow: map-get($sombras, footer);
}

.footer-publicidades {
    display: flex;
    justify-content: space-around;
    margin-bottom: map-get($espaciado, general);
}

.footer-img {
    max-width: map-get($tama単os, imagen-footer);
    height: auto;
}

.footer-publicidades-redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: map-get($espaciado, general);
}

.footer-texto-redes {
    text-align: center;
    margin-bottom: 10px;
}

.footer-texto-redes p {
    margin: 0;
}

.footer-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-texto-redes-titulo {
    font-weight: bold;
    margin-bottom: .625rem;
}

.footer-img-redes {
    display: flex;
    gap: .625rem;
}

.footer-img-rsocial {
    width: map-get($tama単os, imagen-rede);
    height: map-get($tama単os, imagen-rede);
}

.footer-legal {
    border-top: map-get($borders, borde-footer);
    background-color: map-get($colores, fondo-footer-legal);
    color: map-get($colores, texto-footer-legal);
}

.footer-legal p {

    padding: map-get($espaciado, peque単o);
    a{
        color: map-get($colores, texto-footer-legal);
    }
}

.footer-parrafo {
    margin: 0;
    
}

.footer-link {
    text-decoration: none;
    color: map-get($colores, texto-footer-legal);
    margin: 0 5px;

    &:hover {
        text-decoration: underline;
    }
}