/*---inicio---*/
.hero {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: map-get($colores, fondo-principal);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .hero-text {
        width: auto;
        padding-left: 60px;
    }

    .hero-figure {
        width: auto;
        margin: 0;

        img {
            width: 100%;
            display: block;
            max-width: map-get($tamaños, hero-maximo);
            height: auto;
            margin: 0 auto;
        }
    }
}