/*---productos---*/
.contenedor-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 2.5rem;
}

.producto-card {
    position: relative;
    width: map-get($tamaños, tarjeta);
    height: map-get($tamaños, altura-tarjeta);

    div {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        backface-visibility: hidden;
        transition: map-get($transiciones, rotacion);
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: map-get($sombras, producto);
    }

    .producto-front {
        transform: perspective(500px) rotateY(0deg);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    .producto-back {
        transform: perspective(500px) rotateY(180deg);
        transform: rotateY(180deg);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding: 20px;
        text-align: center;

        .Precio {
            color: map-get($colores, texto-principal);
        }
    }

    &:hover {
        .producto-front {
            transform: perspective(500px) rotateY(180deg);
        }

        .producto-back {
            transform: perspective(500px) rotateY(360deg);
        }
    }
}