/*------servicios------*/
.contenedor-text {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.servicios-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

.servicios-card {
    @extend %tarjeta-comun;
    background-color: map-get($colores, fondo-footer);
    border: 1px solid #ddd;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.02);
    }

    figure {
        flex: 1;
        max-width: 50%;
        margin: 0;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    div {
        flex: 1;
        padding: 1rem;
        max-width: 90%;
    }
}

.servicios-card-reverse {
    @extend %tarjeta-comun;
    flex-direction: row-reverse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &:hover {
        transform: scale(1.02);
    }

    figure {
        flex: 1;
        max-width: 50%;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    div {
        flex: 1;
        padding: 1rem;
        max-width: 90%;
    }
}