* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.boton {
    background-color: rgba(232, 137, 126, 1);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: rgb(250, 248, 248);
        border: none;
        color:rgba(232, 137, 126, 1);
    }

    /*revisar esta clase mañana*/
    .contenedor-text {
        text-align: center;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 40px;
      }
}